<?php
if ($_SERVER["REQUEST_METHOD"] == "POST") {
    $subject = "Contact Form Submission" . $firstName . $lastName;
    $firstName = $_POST["contact-form-first-name"];
    $lastName = $_POST["contact-form-last-name"];
    $email = $_POST["contact-form-email"];
    $message = $_POST["questions-comments"];

    foreach( $_POST as $value ) {
        if ( stripos($value, 'Content-Type:') !== FALSE ){
        echo "There was a problem with the information you entered."
            exit;
        }
    }

    if ($_POST["address"] != "") {
        echo "Your form submission has an error."
        exit;

        }

    $body = "First Name: " . $firstName . "\n";
    $body.= "Last Name: " . $lastName . "\n";
    $body.= "Email: " . $email . "\n";
    $body.= "Comments/Questions: ". $message;

    header("Location: contact.hbs?status=thanks");
    exit;
?>

{{#with global.pages.contact }}
    <div class="contact-page">
        <div class="contact-intro">
            {{> intro intro }}
        </div>
    </div>

    <?php if (isset($_GET["status"]) AND $_GET["status"] == "thanks") { ?>
            <section class="thank-you-content-container">
                <h1 class="thank-you-header">{{ submit-response.title }}</h1>
                <p class="thank-you-submit-response">{{ submit-response.supporting-text }}</p>
            </section>
    <?php } else { ?>

{{/with }}

<form method="post" class="contact-form" data-contact-form>

    <fieldset>
        {{#each global.pages.contact.fields }}
            <div class="field">
                <div class="label-input-wrapper">
                    <label for="contact-form-{{ dasherize name }}" class="first-name-label">{{ name }}</label>
                    <input type="{{ type }}" id="contact-form-{{ dasherize name }}" name="{{ dasherize name }}" class="first-name-input" required>
                </div>
            </div>
        {{/each }}

        <!--Not active, used for spam protection-->
        <div style="display: none;">
            <label for="address">Address</label>
            <input type="text" id="address" name="address">
            <p>If you are human, please leave this field blank!</p>
        </div>

    </fieldset>

    <fieldset class="questions-comments-fieldset">
        <label for="questions-comments" class="questions-comments-label">Questions/Comments</label>
        <textarea id="questions-comments" name="questions-comments" class="questions-comments-textarea"></textarea>
    </fieldset>

    <fieldset class="direct-email-fieldset">
        <p class="direct-email-label">Please direct my email to...</p>

        <div class="direct-email-button-wrapper">
            {{#each global.pages.team.team-members }}
                {{#if email-recipient }}
                    <div class="team-member-email-container" data-checkbox>
                        <input type="checkbox" class="team-member-email-option-checkbox" id="team-member-email-option-{{ dasherize name }}"/>
                        <label class="team-member-email-option-label" for="team-member-email-option-{{ dasherize name }}">{{ name }}</label>
                    </div>
                {{/if}}
            {{/each}}
        </div>
    </fieldset>

    <button type="submit" class="submit-button">Submit</button>
</form>

<?php } ?>
