{{#with global.pages.expertise }}
    <div class="expertise-page">
        <div class="expertise-intro">
            {{> intro intro }}
        </div>
        <div class="intro-continued-supporting-text-container">
            <div class="intro-continued-supporting-text">{{{ intro.continued-supporting-text }}}</div>
        </div>
        <section class="expertise-content-container">
            <h1 class="expertise-header">{{ subtitle }}</h1>
            {{#each sections }}
                <span class="expertise-section-open-trigger-container">
                    <a href="#" class="expertise-section-open-trigger">{{ name }}</a>
                </span>
                <div id="{{ dasherize name }}" class="expertise-section">
                    <div class="expertise-header-summary-wrapper"
                       {{#is name 'Integrated Communications'}} style="display: block;"{{/is}}
                            >
                        <button class="expertise-section-top-close-button">{{ button }}</button>
                        <h2 class="expertise-section-heading">{{ name }}</h2>
                        <p class="expertise-description">{{{ description }}}</p>
                        <div class="expertise-summary">
                            {{{ summary }}}
                        </div>
                        <button class="expertise-section-bottom-close-button">{{ button }}</button>
                    </div>
                </div>
            {{/each }}
        </section>
    </div>
{{/with}}
