{{#with global.pages }}
    <div class="index-page">
        <div class="index-intro">
            {{> intro index.intro }}
        </div>
        <section class="expertise-overview">
            <div class="expertise-overview-container">
                <h1 class="expertise-overview-header">{{ expertise.subtitle }}</h1>
                <p class="supporting-tagline">{{ index.supporting-tagline }}</p>
                <ul class="expertise-overview-list">
                    {{#each expertise.sections }}
                        <li>
                            <a href="/greer-dailey/dist/expertise.html#{{ dasherize name }}" class="expertise-list-link">
                                <div class="expertise-icon-link-title-wrapper">
                                    <div class="expertise-icon-wrapper">
                                        <img src="images/index-icons/{{ dasherize name }}-index.svg" alt=""
                                             role="presentation" class="expertise-icon {{ dasherize name}}-icon"/>
                                    </div>
                                    <span class="expertise-list-link-title">{{ name }}</span>
                                </div>
                            </a>
                        </li>
                    {{/each }}
                </ul>
            </div>
        </section>
    </div>
{{/with}}
