<div class="intro" style="background-image: url({{ image }});">
    <div class="intro-content-wrapper">
        <div class="intro-content">
            <h1 class="intro-title">{{{ title }}}</h1>
            {{#if subtitle }}
            <h2 class="intro-subtitle">{{{ subtitle }}}</h2>
            {{/if}}
            {{#if supporting-text }}
                <div class="intro-supporting-text">{{{ supporting-text }}}</div>
            {{/if}}
            {{#if button }}
                <a href="expertise.html" class="intro-learn-more-button">{{ button }}</a>
            {{/if}}
        </div>
    </div>
</div>
